/log
/temp
/bin/platform/**
/bin/modules/**
/roles
/data/**
/config/**
!/config/local.properties
!/config/localextesions.xml
/bin/custom/**/web/webroot/WEB-INF/lib/**
/bin/custom/**/gensrc/**

.project
.springBeans

**/.externalToolBuilders
**/.idea

**/extensioninfo.xsd
**/hmc.xsd
**/items.xsd
**/beans.xsd
**/.settings/**
*.iml
**/*testclasses.xml
*.eml
**/*.iml
*.class
*-testclasses.xml
*-webtestclasses.xml
.metadata/*
.sass-cache
.classpath

**/rebel.xml


.lastupdate
*platformhome.properties


build/config/developer.properties/bin/**/gensrc
/bin/**/eclipsebin
/bin/**/classes
/bin/custom/**/bin/**
/bin/custom/**/eclipsebin/**
/bin/custom/**/classes/**
/bin/custom/**/hmc/classes/**
/bin/custom/**/hmc/bin/**
/bin/custom/**/build.xml
/bin/custom/**/testclasses/**/*.class
/bin/custom/**/lib/**

/bin/custom/**/web/addonsrc/**
/bin/custom/**/web/commonwebsrc/**
/bin/custom/**/web/webroot/_ui/addons/**
/bin/custom/**/web/webroot/cscockpit/*
/bin/custom/**/web/webroot/cmscockpit/*
/bin/custom/**/web/webroot/productcockpit/*
/bin/custom/**/web/webroot/cockpit/*
/bin/custom/**/web/webroot/_ui/addons/b2ccheckoutaddon/*
/bin/custom/**/web/webroot/WEB-INF/messages/addons/b2ccheckoutaddon/*
/bin/custom/**/web/webroot/WEB-INF/tags/addons/b2ccheckoutaddon/*
/bin/custom/**/web/webroot/WEB-INF/views/addons/b2ccheckoutaddon/*
/bin/custom/**/web/webroot/WEB-INF/messages/addons/*
/bin/custom/**/web/webroot/WEB-INF/tags/addons/*
/bin/custom/**/web/webroot/WEB-INF/views/addons/*
/bin/custom/**/web/webroot/WEB-INF/tld/addons/*
/bin/custom/**/web/webroot/WEB-INF/cache/addons/*
/bin/custom/**/web/webroot/WEB-INF/lib/addon-captchaaddon-recaptcha4j-*
/bin/custom/**/backoffice/*_bof.jar
/bin/custom/**/web/webroot/WEB-INF/_ui-src/addons/*
/bin/custom/**/trainingstorefront/resources/wro_addons.xml
/bin/custom/**/web/webroot/_ui/responsive/theme-blue
/bin/custom/training/trainingstorefront/web/webroot/_ui/responsive/theme-blue/css/*
**/src/hr/altima/jalo/**
